@font-face {
  font-family: "proxima-regular";
  src: url("../src/assets/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("../src/assets/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Quincy";
  src: url("../src/assets/Quincy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.project-backdrop {
  background: no-repeat
    url(https://products.ls.graphics/mesh-gradients/images/28.-Deco.jpg);
  width: 80%;
  height: 90vh;
  overflow: scroll;
  margin: 0 auto;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
  width: 80%;
  height: 550px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
.container .card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}
.container .card .content h2 {
  position: absolute;
  top: -90px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
.container .card .content h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
  z-index: 1;
}
.img-techstack {
  display: flex;
  align-items: center;
}
.container .card .content img {
  flex-basis: 50%;
}
.card-textstack {
  flex-basis: 50%;
}
.card-icon {
  width: 40%;
  height: 50px;
  margin: 10px 5px;
}

.container .card .content p {
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
}
.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin: 15px 30px;
  background: #e08867;
  color: #fff;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}
.container .card .content a:hover {
  transform: scale(1.1);
}

#logo {
  width: 200px;
  height: 100px;
}
#header {
  display: flex;
  justify-content: space-between;
}
#nav-links {
  font-family: "proxima-semibold", sans-serif;
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 30%;
  height: 30px;
  padding-top: 50px;
  padding-right: 15px;
}
.links {
  position: relative;
}
.links::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #11354c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.links:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#connect-button {
  width: 30%;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e08867;
  border-color: #e08867;
  color: white;
  font-size: 20px;
  letter-spacing: 0.15em;
  text-align: center;
}
body {
  background-color: rgb(241, 235, 232);
}
a:link {
  text-decoration: none;
  color: #11354c;
}

a:visited {
  text-decoration: none;
  color: #11354c;
}

a:hover {
  text-decoration: none;
  color: #11354c;
}

a:active {
  text-decoration: none;
  color: #11354c;
}
h1 {
  font-family: "Quincy", serif;
}
#profile-pic {
  width: 514px;
  display: block;
  margin-top: 100px;
  text-align: right;
  position: absolute;
  right: 60px;
}
#greeter {
  background-color: #11354c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 400px;
  right: 37%;
  text-align: left;
  z-index: 3;
}
#greeter h1 {
  color: white;
  letter-spacing: 0.1em;
  font-size: 30px;
  padding-left: 20px;
}
#greeter p {
  font-family: "proxima-regular", serif;
  color: white;
  font-size: 20px;
  padding-left: 20px;
}
#stock-img {
  width: 400px;
  position: absolute;
  left: 3%;
  bottom: -25%;
}

#tech-stack {
  width: 100vw;
  height: fit-content;
  background-color: #d19c8d;
  margin-top: 1030px;
  padding-bottom: 40px;
}
#icon-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
#wheelhouse {
  position: relative;
  top: -30px;
  font-family: "proxima-regular", serif;
  font-size: 30px;
  color: #d19c8d;
  text-align: center;
}
#react-icon,
#html-icon,
#css-icon,
#node-icon,
#ruby-icon,
#mongo-icon,
#postgres-icon {
  width: 20%;
  height: 90px;
  margin: 10px 5px;
}
#rails-icon {
  width: 20%;
  height: 80px;
}
.projects {
  width: 60vw;
  height: 600px;
  overflow: visible;
  background-color: #e0c5bb;
  border-radius: 10px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: 10%;
  margin-bottom: 50px;
}
#projects-header {
  font-family: "proxima-regular";
  font-size: 30px;
  color: #e0c5bb;
  text-align: center;
  margin-top: 90px;
  margin-bottom: -10px;
}
#plantify-ss {
  margin-top: 100px;
  margin-left: -300px;
  height: 300px;
  border: 5px solid #ffffff;
}
.project-link h2 {
  margin-left: 20px;
  font-size: 50px;
  font-family: "proxima-regular", serif;
}
.project-descrip {
  margin-left: 20px;
  font-family: "proxima-regular", serif;
  font-size: 20px;
}
#contact-me {
  width: 100vw;
  height: fit-content;
  background-color: #11354c;
  margin-top: 70px;
}
#contact-me h1 {
  /* margin-top: 40px; */
  margin-left: 100px;
  padding-top: 30px;
  color: #ffffff;
}
#email-container {
  margin: 40px auto;
  border-radius: 20px;
  width: 50%;
  height: fit-content;
  display: flex;
  background-color: bisque;
}
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
label {
  color: white;
  font-family: "Quincy", serif;
  font-size: 30px;
  margin-top: 20px;
  margin-right: 20px;
}
input {
  margin: 20px 25px;
}
textarea {
  margin-left: 25px;
}
#form-submit {
  width: 50%;
  height: 50px;
  margin: 25px auto;
  background-color: #e08867;
  border-color: #e08867;
  border-radius: 10px;
  color: #ffffff;
  font-size: 25px;
  font-family: "proxima-regular", serif;
}
#about-me-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}
#about-me-pic {
  width: 500px;
  height: 600px;
}
#brand-statement {
  width: 40%;
  font-family: "proxima-regular";
  font-size: 30px;
  color: #ffffff;
  line-height: 2.1em;
}
